<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing page</title>
  </head>
  <body class="m-0 p-0">
    <div
      class="fixed inset-0 bg-[url('/assets/images/bg.jpg')] bg-cover bg-no-repeat bg-center bg-fixed z-[-1]"
    ></div>
    <div class="min-h-screen flex flex-col items-center justify-center">
      <a routerLink="/APP">
        <button
          class="px-5 py-2 border bg-[#1e1e1e] border-white rounded-2xl font-semibold text-white tracking-wide hover:bg-[#2eaae0] hover:text-white transition duration-300 shadow-md"
        >
          CLICK TO CHANGE YOUR LIFE
        </button>
      </a>
    </div>
  </body>
</html>
