<footer
  class="text-white flex flex-col md:flex-row md:justify-between md:items-center bg-[#1e1e1e] px-5 py-5 gap-6 md:gap-0"
>
  <ul class="flex-1 mb-4 md:mb-0">
    <li>🎓 Graduate in Physical Activity and Sports Sciences</li>
    <li>
      🏋️ Specialist in personalized training, health, and physical performance
    </li>
    <li>🏃 Train from anywhere</li>
  </ul>

  <ul class="flex-1 mb-4 md:mb-0">
    <li>
      <a href="mailto:jcentrenador94@gmail.com" class="hover:text-[#2eaae0]">
        📧 jcentrenador94&#64;gmail.com
      </a>
    </li>
  </ul>

  <ul class="flex-1">
    <li>Follow me:</li>
    <li>jc.entrenador</li>
  </ul>
</footer>
