<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer
      class="text-white flex justify-between items-center bg-[#1e1e1e] px-5 py-5"
    >
      <ul>
        <li>🎓 Graduate in Physical Activity and Sports Sciences</li>
        <li>
          🏋️ Specialist in personalized training, health, and physical
          performance
        </li>
        <li>🏃 Train from anywhere</li>
      </ul>

      <ul>
        <li>
          <a href="jcentrenador94@gmail.com" class="hover:text-[#2eaae0]"
            >📧 jcentrenador94&#64;gmail.com</a
          >
        </li>
      </ul>

      <ul>
        <li>Follow me:</li>
        <li>jc.entrenador</li>
      </ul>
    </footer>
  </body>
</html>
